@import '@material/drawer/mdc-drawer.scss';
@import 'node_modules/@material/drawer/_mixins.scss';

$color: #142b42;

.mdc-drawer {
  @include mdc-drawer-surface-fill-color($color);
}

.mdc-drawer-app-content {
  overflow: auto;
}

:host {
  display: flex;
  height: 100%;
}
