@import "../../node_modules/@material/theme/mdc-theme";
@import "../../node_modules/@material/typography/mdc-typography";
@import "./_variables.scss";

.wrapper {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  padding: 10px 0px;
  @include mdc-typography-base;
  @include mdc-theme-prop(background-color, surface);

  &.active {
    background-color: var(--exmg-grid-active-color, $exmg-grid-active-color);
  }
}

.actions {
  padding: 0 16px;
}

.description {
  @include mdc-typography('headline5');
  @include mdc-theme-prop(color, on-surface);

  padding: 0 16px;
}

.with-action-separator {
  border-left: 1px solid var(--mdc-theme-on-surface, $exmg-grid-text-color);
}

.filters {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: flex-end;

  padding: 0 16px;
}
