:host {
  font-family: Roboto;
  display: flex;
  flex-direction: row;
  align-items: center;

  border: 1px solid dodgerblue;
}

.actions {
}

.description {
}

.filters {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: flex-end;
}

