.wrapper {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 10px 10px;

  .page-size {
    display: flex;
    flex-direction: row;
  }

  .page-range {
    display: flex;
    flex-direction: row;
  }
}

a[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
  color: green;
}
