@import "@material/typography/mdc-typography";
@import "@material/list/mdc-list";
@import "@material/menu-surface/mdc-menu-surface";
@import "@material/menu/mdc-menu";

.mdc-list {
  .mdc-list-item__graphic {
    margin-right: 16px;
  }
}

:not(.mdc-list--non-interactive) > :not(.mdc-list-item--disabled).mdc-list-item::before, :not(.mdc-list--non-interactive) > :not(.mdc-list-item--disabled).mdc-list-item::after {
  background-color: var(--exmg-grid-setting-list-item-active-bg-color, #{$mdc-theme-secondary});
}

mwc-checkbox {
  --mdc-theme-secondary: var(--exmg-grid-setting-checkbox-color, #{$mdc-theme-secondary});
}

.mdc-menu-surface--anchor {
  position: var(--exmg-grid-toolbar-setting-position, relative);
  display: inline-block;
}

.mdc-menu.mdc-menu-surface {
  margin: var(--exmg-grid-toolbar-setting-list-menu-margin, 15px 0 0 0);
  position: absolute;
  .mdc-list {
    color: var(--mdc-theme-on-surface, var(--mdc-theme-text-primary-on-background));
  }
}

