$mdc-theme-secondary: #0071dc;

@import '@material/mwc-checkbox/src/mwc-checkbox.scss';

.mdc-checkbox__native-control:enabled:checked ~ .mdc-checkbox__background, .mdc-checkbox__native-control:enabled:indeterminate ~ .mdc-checkbox__background {
  border-color: var(--exmg-grid-setting-checkbox-color, var(--mdc-theme-secondary, $mdc-theme-secondary));
  background-color: var(--exmg-grid-setting-checkbox-color, var(--mdc-theme-secondary, $mdc-theme-secondary))
}

@keyframes mdc-checkbox-fade-in-background-0 {
  0% {
    border-color: rgba(0, 0, 0, .54);
    background-color: transparent
  }
  50% {
    border-color: var(--exmg-grid-setting-checkbox-color, var(--mdc-theme-secondary, $mdc-theme-secondary));
    background-color: var(--exmg-grid-setting-checkbox-color, var(--mdc-theme-secondary, $mdc-theme-secondary))
  }
}

@keyframes mdc-checkbox-fade-out-background-0 {
  0%, 80% {
    border-color: var(--exmg-grid-setting-checkbox-color, var(--mdc-theme-secondary, $mdc-theme-secondary));
    background-color: var(--exmg-grid-setting-checkbox-color, var(--mdc-theme-secondary, $mdc-theme-secondary))
  }
  100% {
    border-color: rgba(0, 0, 0, .54);
    background-color: transparent
  }
}

@supports not (-ms-ime-align: auto) {
  .mdc-checkbox__background::before {
    background-color: var(--exmg-grid-setting-checkbox-color, var(--mdc-theme-secondary, $mdc-theme-secondary))
  }
}

@supports not (-ms-ime-align: auto) {
  .mdc-checkbox::before, .mdc-checkbox::after {
    background-color: var(--exmg-grid-setting-checkbox-color, var(--mdc-theme-secondary, $mdc-theme-secondary))
  }
}
