:host {
  font-family: Roboto;
}

th[data-sort] {
  padding-right: 25px;
  color: green;
}
th[data-sort-direction="ASC"] {
  color: red;
}
th[data-sort-direction="DESC"] {
  color: blue;
}

th[data-sort]::after {
  content: ' DESC';
  opacity: 0;
}
th[data-sort-direction=ASC]::after {
  content: ' ASC';
  opacity: 1;
}

th[data-sort-direction=DESC]::after {
  content: ' DESC';
  opacity: 1
}

tr[data-selected] {
  background-color: purple;
}

input.selection-checkbox {
  margin: 0;
  float: left;
}

td.selectable-cell, th.selectable-cell {
  width: 15px;
}
