@import "../../node_modules/@material/theme/mdc-theme";
@import "../../node_modules/@material/typography/mdc-typography";
@import "./_variables.scss";

.wrapper {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  padding: 0 10px;

  &.active {
    background-color: var(--exmg-grid-active-color, $exmg-grid-active-color);
  }
}

.actions {
  border-right: 1px solid var(--mdc-theme-on-surface, #000);
}

.description {
  padding-left: 15px;
  margin: 15px 0;
}

.filters {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: flex-end;
  margin: 15px 0;
}

