@import "@material/typography/mdc-typography";
@import "@material/list/mdc-list";

.mdc-list {
  .mdc-list-item__graphic {
    margin-right: 16px;
  }
}

:not(.mdc-list--non-interactive) > :not(.mdc-list-item--disabled).mdc-list-item::before, :not(.mdc-list--non-interactive) > :not(.mdc-list-item--disabled).mdc-list-item::after {
  background-color: var(--exmg-grid-setting-list-item-active-bg-color, #{$mdc-theme-secondary});
}

mwc-checkbox {
  --mdc-theme-secondary: var(--exmg-grid-setting-checkbox-color, #{$mdc-theme-secondary});
}

