@import "@material/typography/mdc-typography";
@import "@material/list/mdc-list";
@import "@material/menu-surface/mdc-menu-surface";
@import "@material/menu/mdc-menu";

.mdc-list {
  .mdc-list-item__graphic {
    margin-right: 16px;
  }
}

:not(.mdc-list--non-interactive) > :not(.mdc-list-item--disabled).mdc-list-item::before, :not(.mdc-list--non-interactive) > :not(.mdc-list-item--disabled).mdc-list-item::after {
  background-color: var(--exmg-grid-toolbar-setting-list-item-active-bg-color, var(--exmg-theme-table-on-surface-low, var(--mdc-theme-secondary)));
}

mwc-checkbox {
  --mdc-theme-secondary: var(--exmg-grid-setting-checkbox-bg-color, var(--exmg-theme-secondary));
}

.mdc-menu-surface--anchor {
  position: var(--exmg-grid-toolbar-setting-position, relative);
  top: 45px;
  right: 15px;
  display: inline-block;
}

.mdc-menu.mdc-menu-surface {
  position: absolute;
  // mdc-menu use calculate left dynamically and set it as inline style, to override !important is needed
  top: 0 !important;
  left: unset !important;
  right: 0;
  .mdc-list {
    color: var(--mdc-theme-on-surface, var(--mdc-theme-text-primary-on-background));
  }
}

