:host {
  font-family: Roboto;
  --exmg-arrow-upward-url: url('/assets/arrow-upward.svg');
  --exmg-table-width: 100%;
  --exmg-table-margin-bottom: 5px;
  --exmg-table-color: #02182b;
  --exmg-table-background-color: #ffffff;
  --exmg-table-border-color: #f6f6f6;
  --exmg-table-row-divider-color: #dbdbdb;
  --exmg-table-row-selected-color: #02182b;
  --exmg-table-row-selected-background-color: #e2f1fe;
  --exmg-table-row-hover-color: #02182b;
  --exmg-table-row-hover-background-color: #f1f1f1;
  --exmg-table-row-dragged-background-color: #f1f1f1;
  --exmg-table-rows-expanded-divider-border: none;
  --exmg-table-rows-expanded-border: 1px solid #dbdbdb;
  --exmg-table-rows-expanded-background-color: #e2f1fe;
  --exmg-table-rows-expanded-color: #02182b;
  --exmg-table-th-color: #0071dc;
  --exmg-table-columns-background-color: #ffffff;
  --exmg-table-th-sortable-hover-color: #02182b;
  --exmg-table-th-height: 48px;
  --exmg-table-th-font-size: 16px;
  --exmg-table-th-sort-margin-left: 4px;
  --exmg-table-td-height: 48px;
  --exmg-table-td-font-size: 16px;
}

paper-checkbox {
  --paper-checkbox-unchecked-color: #97aac4;
  --paper-checkbox-checked-color: #1274d9;
  --paper-checkbox-size: 24px;
  --paper-checkbox-unchecked-ink-color: #0070db;
  --paper-checkbox-checked-ink-color: #0070db;
}

table {
  width: var(--exmg-table-width);
  border: 1px solid var(--exmg-table-border-color);
  margin-bottom: var(--exmg-table-margin-bottom);
  border-radius: 4px;
  color: var(--exmg-table-color);
  background-color: var(--exmg-table-background-color);
  border-spacing: 0;
}

td {
  height: var(--exmg-table-td-height);
}

.grid-toolbar th {
  padding: 0;
  text-align: left;
}

.grid-columns th {
  font-family: Roboto;
  height: var(--exmg-table-th-height);
  font-size: var(--exmg-table-th-font-size);
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  text-transform: uppercase;
  line-height: 1.33;
  letter-spacing: 2px;
  color: var(--exmg-table-th-color);
  background-color: var(--exmg-table-columns-background-color);
  vertical-align: middle;
  text-align: left;
}

.grid-columns th:first-child, tbody td:first-child {
  padding-left: 10px;
}

.grid-columns th:last-child, tbody td:last-child {
  padding-right: 10px;
}

th, td {
  border-bottom: 1px solid var(--exmg-table-row-divider-color);
}

tbody td {
  height: var(--exmg-table-td-height);
  font-family: Roboto;
  font-size: var(--exmg-table-td-font-size);
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43px;
  letter-spacing: 0.3px;
  color: var(--exmg-table-color);
}

table tr:last-child td {
  border: 0;
}

/**** COLUMN SORT *********/
th[data-sort] {
  padding-right: 25px;
  cursor: pointer;

  &:hover {
    color: var(--exmg-table-th-sortable-hover-color);

    &:not([data-sort-direction])::after {
      opacity: 1;
      transition: transform .1s linear;
      transform: rotate(0deg);
    }
  }

  &::after {
    display: inline-block;
    content: '';
    -webkit-mask-image: var(--exmg-arrow-upward-url);
    mask-image: var(--exmg-arrow-upward-url);
    background-color: currentColor;
    background-size: contain;
    height: var(--exmg-table-th-font-size);
    width: var(--exmg-table-th-font-size);
    margin-left: var(--exmg-table-th-sort-margin-left);
    opacity: 0;
  }
}

th[data-sort-direction=ASC]::after {
  opacity: 1;
  transition: transform .1s linear;
  transform: rotate(0deg);
}

th[data-sort-direction=DESC]::after {
  opacity: 1;
  transition: transform .1s linear;
  transform: rotate(180deg);
}
/**** COLUMN SORT END *********/

/**** SELECTABLE ROW *********/
tbody > tr:not(.grid-row-detail):hover {
  color: var(--exmg-table-row-hover-color);
  background-color: var(--exmg-table-row-hover-background-color);
  svg {
    fill: var(--exmg-table-row-hover-color);
  }
}

tr[data-selected] {
  color: var(--exmg-table-row-selected-color);
  background-color: var(--exmg-table-row-selected-background-color);
  svg {
    fill: var(--exmg-table-row-selected-color);
  }
}
/**** END SELECTABLE  ROW *********/

/**** EXPANDABLE ROW *********/
tbody {
  tr[data-has-expanded-detail], tr[data-has-expanded-detail]:hover, tr[data-is-row-expanded] {
    background-color: var(--exmg-table-rows-expanded-background-color);
    border: var(--exmg-table-rows-expanded-border);

    td {
      color: var(--exmg-table-rows-expanded-color);
      svg {
        fill: var(--exmg-table-rows-expanded-color);
      }
    }
  }

  tr[data-is-row-expanded] td {
    border-top: none;
  }

  tr[data-has-expanded-detail] td, tr[data-has-expanded-detail]:hover td {
    border-bottom: var(--exmg-table-rows-expanded-divider-border);
  }
}

tr.grid-row-detail {
  display: none;

  &[data-is-row-expanded] {
    display: table-row;
  }

  td {
    padding: 20px;
  }
}

tr .grid-icon-rotate[data-is-expanded] > * {
  transition: transform .1s linear;
  transform: rotate(180deg);
}

tr .grid-icon-rotate[data-is-expandable]:not([data-is-expanded]) > * {
  transition: transform .1s linear;
  transform: rotate(0deg);
}
/**** END EXPANDABLE ROW *********/

/**** START SORTABLE ROW *********/
.grid-row-drag-handler {
  cursor: move;
  vertical-align: middle;
}
tr {
  &.dragged {
    background: var(--exmg-table-row-dragged-background-color);
    opacity: 0.25;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5) inset;
  }

  &.cloned {
    background-color: var(--exmg-table-row-dragged-background-color);
    width: 100%;
    box-sizing: border-box;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    opacity: 0.9;
  }
}
/**** END EXPANDABLE ROW *********/

/***** GRID UTILS ***/
tr td.grid-cell-visible-on-hover > * {
  visibility: hidden;
}

tr:hover td.grid-cell-visible-on-hover > *, tr[data-has-expanded-detail] td.grid-cell-visible-on-hover > * {
  visibility: visible;
}
