@import "../../node_modules/@material/theme/mdc-theme";
@import "../../node_modules/@material/typography/mdc-typography";
@import "./variables.scss";

.wrapper {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;

  border: 1px solid dodgerblue;

  &.active {
    background-color: $exmg-grid-active-color;
  }
}

.actions {
}

.description {
  padding-left: 10px;
}

.filters {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: flex-end;
}

