:host {
  font-family: Roboto;
  --exmg-arrow-upward-url: url('/assets/arrow-upward.svg');
  --exmg-seleced-row-color: #f5f5f5;
  --exmg-hover-row-color: #f5f5f5;
  --exmg-table-width: 100%;
}

table {
  width: var(--exmg-table-width);
}

/**** COLUMN SORT *********/
th[data-sort] {
  padding-right: 25px;
}

th[data-sort]::after {
  display: inline-block;
  content: '';
  background-image: var(--exmg-arrow-upward-url);
  background-size: 12px 12px;
  height: 12px;
  width: 12px;
  margin: 0 0 0 4px;
  opacity: 0;
}
th[data-sort-direction=ASC]::after {
  opacity: 1;
  transition: transform .1s linear;
  transform: rotate(0deg);
}

th[data-sort-direction=DESC]::after {
  opacity: 1;
  transition: transform .1s linear;
  transform: rotate(180deg);
}
/**** COLUMN SORT END *********/

/**** SELECTABLE ROW *********/
tbody > tr:not(.grid-row-detail):hover {
  background-color: var(--exmg-hover-row-color);
}

tr[data-selected] {
  background-color: var(--exmg-seleced-row-color);
}

input.selection-checkbox {
  margin: 0;
  float: left;
}

td.selectable-cell, th.selectable-cell {
  width: 15px;
}
/**** END SELECTABLE  ROW *********/

/**** EXPANDABLE ROW *********/
tr.grid-row-detail {
  display: none;
}

tr.grid-row-detail[data-is-row-expanded] {
  display: table-row;
}

tr [data-is-expanded] > * {
  transition: transform .1s linear;
  transform: rotate(180deg);
}

tr [data-is-expandable]:not([data-is-expanded]) > * {
  transition: transform .1s linear;
  transform: rotate(0deg);
}
/**** END EXPANDABLE ROW *********/
