@import "../../src/table/mixins";
exmg-grid {
  $primaryColor: #0070db;
  $secondaryColor: #0070db;
  $surfaceColor: #ffffff;
  $onSurfaceColor: #02182b;
  $backgroundColor: #ffffff;
  $onBackgroundColor: #02182b;
  @include exmg-generate-theme-table-variables($primaryColor, $secondaryColor, $surfaceColor, $onSurfaceColor, $backgroundColor, $onBackgroundColor);
}
