@import '@material/typography/mdc-typography';

:host {
  @include mdc-typography-base;
  .column-style {
    display: flex;
    flex-direction: row;
  }
  .column-inner {
    width: var(--exmg-bracket-item-width, 26rem);
    margin-right: 10rem;
  }
  .header-container {
    margin-bottom: 3rem;
  }
  .header-round {
    font-size: 15px;
    font-weight: bold;
    color: var(--exmg-bracket-column-head-color, black);
  }
  .player-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 2rem;
    border-radius: 4px;
    border: solid 2px var(--exmg-bracket-border-color, #bbcde2);
    height: var(--exmg-bracket-item-height, 5rem);
    background: var(--exmg-bracket-secondary, white);
    &.resolved {
      background: var(--exmg-bracket-secondary, rgba(241, 241, 241, 0.3));
    }
  }
  .player-container:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: solid 2px var(--exmg-bracket-border-hover-color, var(--exmg-bracket-primary, #0071dc));
  }
  .player {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    text-transform: uppercase;
    font-style: normal;
    line-height: 1.07;
    letter-spacing: normal;
    color: #25283d;
    margin: 3px;
    height: 100%;
    padding-left: 1rem;
    border-radius: 4px;
    .score-container {
      display: flex;
      align-items: center;
      text-transform: none;
      font-weight: normal;
      margin-left: auto;
      margin-right: 1rem;
      .player-score {
        margin-left: 2rem;
        font-weight: bold;
      }
    }
    &.won {
      background-color: var(--exmg-bracket-primary, #0071dc);
      color: var(--exmg-bracket-text-color-won, white);
    }
    &.lost {
      opacity: var(--exmg-bracket-opacity-lost, 0.5);
      color: var(--exmg-bracket-text-color-lost, #25283d);
    }
  }
  svg {
    overflow: visible;
    pointer-events: none;
    path {
      stroke: var(--exmg-bracket-line-color, lightgrey);
    }
  }
  .highlight {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: solid 2px var(--exmg-bracket-primary, #0071dc);
    svg {
      border: none;
      box-shadow: none;
      z-index: 2;
      path {
        stroke: var(--exmg-bracket-line-hover-color, var(--exmg-bracket-primary, #0071dc)); //fallback
      }
    }
  }

  .line {
    position: absolute;
    left: var(--exmg-bracket-item-width, 26rem);
  }
}
